{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 noah
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Readeck ({{ readeck_identifier }})
{% for service in readeck_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in readeck_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no


[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ readeck_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ readeck_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ readeck_identifier }} \
      --log-driver=none \
      --user={{ readeck_uid }}:{{ readeck_gid }} \
      --cap-drop=ALL \
      --network={{ readeck_container_network }} \
      {% if readeck_container_http_host_bind_port %}
      -p {{ readeck_container_http_host_bind_port }}:{{ readeck_container_http_port }} \
      {% endif %}
      --env-file={{ readeck_base_path }}/env \
      --label-file={{ readeck_base_path }}/labels \
      --mount type=bind,src={{ readeck_data_path }},dst=/readeck \
      {{ readeck_container_image }}

{% for network in readeck_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ readeck_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ readeck_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ readeck_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ readeck_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ readeck_identifier }}

[Install]
WantedBy=multi-user.target
